/* ------------- Google Font ------------- */
@import url('https://fonts.googleapis.com/css2?family=Gafata&family=Text+Me+One&display=swap');

/* ------------- HTML Wide style ------------- */
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Gafata', sans-serif;
    font-weight: 400;
    color: #4d4d4d;
}

a {
    text-decoration: none;
}

/* ------------- Header ------------- */

h1,
h2 {
    font-family: 'Text Me One', sans-serif;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: #81a97b;
}

#logo-container {
    position: relative;
    width: 250px;
    float: left;
    height: 10px;
}

#logo {
    width: 100px;
    height: 100px;
}

#logo-text {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 100px;
}

#menu {
    font-size: 175%;
    color: #ffb30f;
    font-weight: 600;
}

#menu li {
    float: left;
    list-style: none;
    padding-left: 30px;
    margin-right: 5px;
}

#menu,
#logo-container,
#download-btn-container {
    line-height: 115px;
}

#menu a {
    color: inherit;
}

#download-btn-container {
    float: right;
    margin-right: 30px;
}

#download-btn {
    padding: 10px 20px;
    background-color: #ffb30f;
    font-size: 170%;
    border-radius: 30px;
    color: #fff;
}

#download-btn-container a:hover {
    background-color: #fff;
    color: #ffb30f;
    border: 1px #ffb30f solid;
}

.active {
    border-bottom: 1px solid #ffb30f;
}

/* ------------- Footer Section ------------- */

footer {
    font-family: 'Text Me One', sans-serif;
    height: 150px;
    background-color: #81a97b;
    text-align: right;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 150%;
    line-height: 37px;
    letter-spacing: 2px;
}

footer li,
footer a {
    color: #fff;
}


/* ----------------------- Home page ----------------------- */
/* ------------- Hero Image ------------- */

#hero-outer {
    height: 700px;
    width: 100%;
    overflow: hidden;
    position: relative;

}

#hero-image {
    height: 700px;
    width: 100%;
    background: url('../images/sotofox-hero-image.jpg') no-repeat center center;
    background-size: cover;
}

/* ------------- About Section ------------- */

#about {
    text-align: center;
    margin: 70px 0px 40px 0px;
    font-size: 1.5rem;
}

#about h2 {
    text-decoration: underline;
}

#about-left {
    position: relative;
    float: left;
    width: 25%;
    padding-top: 30px;
    display: inline-block;
    left: 11%;
    text-align: center;
}

#about-right {
    position: relative;
    width: 50%;
    height: 304px;
    margin-top: 30px;
    text-align: left;
    display: inline-block;
    left: 10%;
    background-color: rgba(255, 179, 15, 0.3);
    padding: 20px;
}

#about-right h2 {
    color: #ffb30f;
}

#about-right p {
    font-size: 1.3em;
    line-height: 30px;
}

#portrait {
    width: 247px;
    height: 344px;
}

/* ------------- Services Section ------------- */

#services {
    text-align: center;
    margin: 70px 0px 70px 0px;
    font-size: 1.5rem;
}

#services h2 {
    text-decoration: underline;

}

#table-left,
#table-right,
#table-center {
    width: 33%;
    margin-top: 70px;
    line-height: 50px;
}

#table-left {
    float: left;
}

#table-right {
    float: right;
}

#table-center {
    margin: 0 auto;
    margin-top: 70px;
}

tr th {
    color: #81a97b;
    font-size: 120%;
}

tr:nth-child(even) td {
    background-color: rgba(255, 179, 15, 0.3);
}

/* ----------------------- Contact Page----------------------- */
/* ------------- Hero Image ------------- */

#contact-hero-outer {
    height: 700px;
    width: 100%;
    overflow: hidden;
    position: relative;

}

#contact-hero-image {
    height: 700px;
    width: 100%;
    background: url('../images/sotofox-contact-hero.JPG') no-repeat center center;
    background-size: cover;
}
/* ------------- Contact Form Section ------------- */
#contact-header {
    text-align: center;
    padding: 70px 0px;
    font-size: 1.5rem;
}

#contact-header h2 {
    text-decoration: underline;
}

#contact-form h3{
    font-size: 150%;
    color: #ffb30f;
}

form {
    border: 3px solid #81a97b;
    border-radius: 5px;
    width: 50%;
    margin: 0 auto;
    height: 450px;
    min-width: 320px;
    text-align: center;
    padding: 3em;
}

#contact-list li{
    display: inline-block;
    margin: 20px 12px;
}

#contact-list a{
    color: #4d4d4d;
    font-size: 130%;
}

input, textarea{
    border: 1px solid #ffb30f
}

.names {
    float:left;
    margin-left: 103px;
}

#fname, #lname {
    width: 40%;
    margin: 5px 20px;
}

#email {
    width: 100%;
}

textarea {
    resize: none;
}