@import url('https://fonts.googleapis.com/css2?family=Gafata&family=Text+Me+One&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: Gafata, sans-serif;
    font-weight: 400;
    color: #81a97b;
}